:root {
  /*    font-family: 'Merienda'; */
  --bulma-family-primary: Caveat, Arial, sans-serif;
  --bulma-family-secondary: Merienda, Arial, sans-serif;
  --bulma-family-code: Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
  background-color: #fef3c3ff; }

.logo {
  width: 134px;
  height: 134px;
  margin: 0.2em 0.2em; }

.band {
  height: 200px;
  background-image: url(../img/hero.jpg);
  background-repeat: repeat-x;
  background-clip: padding-box; }
