@font-face {
    font-family: 'Merienda';
    src: url('Merienda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merienda';
    src: url('Merienda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('caveat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('caveat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
